@import '~heading.less';

.overlay {
    background-image: linear-gradient(to bottom right, #6FB5DB, #7E4B95);
    color: white;
    opacity: 0.9;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
}

.maximized {
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 0px 6px 0px;
    width: 500px;
    height: 300px;
}

.header {
    padding: 20px;
}

.topcorner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.clickable {
    cursor: pointer;
}
