@import '~heading.less';

.overlay {
    //background-image: linear-gradient(to bottom right, #6FB5DB, #7E4B95);
    background-image: linear-gradient(to bottom right, #CBA039, #9F5A2F);
    color: white;
    opacity: 0.9;
    transition: opacity 0.5s;
    &:hover {
        opacity: 1;
    }
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 0px 10px 0px #3338;
}

.topbar, .details {
    padding: 10px 20px;
    table {
        thead {
            color: #FFFA;
        }
        tbody {
            td {
                width: 110px;
                max-width: 110px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 20px;
                line-height: 20px;
                padding-right: 15px;
            }
        }
    }
}

.topbar {
    height: 70px;
    margin-right: 70px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin-top: 8px;
        font-size: 25px;
        line-height: 25px;
        margin-right: 40px;
    }

    .clock {
        line-height: 12px;
        color: white;
    }
}

.details {
}

.topcorner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.clickable {
    cursor: pointer;
}
